<ion-header id="header" [ngClass]="{'android-style': isAndroid, 'ios-style': isIOS}">
  <div class="header-top">
    <ion-icon (click)="goBack()" id="iconLeft" src="assets/icons/arrowBack.svg"></ion-icon>
    <h5 [ngClass]="{'header-title-shorter':seleccionando }" class="header-title">{{ folderName }}</h5>
   <!-- <ion-icon *ngIf="creator==true || (isVerifiedUser==true && isAdmin==true && isDateEnded==false && permission==3)" (click)="mostrarSeleccionBorrado()" id="iconRight2" src="assets/icon/trash-alt.svg"></ion-icon>-->
    <p *ngIf="seleccionando" class="cancel-text" (click)="mostrarSeleccionBorrado()">{{ 'Cancelar' | translate }}</p>
    <ion-icon *ngIf="creator==true" id="iconRight3" (click)="abrirModalOpcionesCarpeta()" src="assets/icons/ajustes-perfil.svg"></ion-icon>
  </div>
</ion-header>

<ion-content>
  <div *ngIf="showOverlay" class="overlay"></div>

  <!--<div class="upload-container" *ngIf="uploadProgress > 0 && uploadProgress < 100">
    <ion-progress-bar [value]="uploadProgress / 100" class="custom-progress"></ion-progress-bar>
    <div class="progress-text">{{ uploadProgress }}%</div>
  </div>-->
  <div *ngFor="let file of uploadProgressList" class="upload-container">
    <div class="progress-label">{{ file.name }}</div>
    <ion-progress-bar [value]="file.progress / 100" class="custom-progress" [color]="file.completed ? 'success' : 'primary'"></ion-progress-bar>
    <div class="progress-text">
      {{ file.completed ? ('✅ ' + ('Completado' | translate)) : (file.progress + '%') }}
    </div>
  </div>

  <div class="image-grid"><!--abrirModalCarrusel(i)-->
  <div class="media-item" *ngFor="let multimedia of multimedias; let i = index" (click)="seleccionando ? toggleSeleccion(multimedia.id) : selectItem(multimedia)"
  (mousedown)="startPress(multimedia)" 
          (mouseup)="cancelPress()" 
          (mouseleave)="cancelPress()"
          (touchstart)="startPress(multimedia)" 
          (touchend)="cancelPress()">
    <div class="media-square">
      <!-- Div para prevenir selección de contenido -->
      <div class="no-select-overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; pointer-events: none;"></div>
      
      <!-- Icono de selección -->
      <!--<ion-icon *ngIf="seleccionando"
                class="check-icon"
                [src]="multimediaSeleccionados.has(multimedia.id) ? 'assets/icons/checked-icon.svg' : 'assets/icons/no-checked-icon.svg'">
      </ion-icon>-->

      <ion-icon *ngIf="seleccionando"
                class="check-icon"
                [src]="(multimedia.thetype === 'folder' ? carpetasSeleccionadas.has(multimedia.id) : multimediaSeleccionados.has(multimedia.id)) 
                 ? 'assets/icons/checked-icon.svg' 
                 : 'assets/icons/no-checked-icon.svg'"
                style="z-index: 2; "><!--position: relative;-->
      </ion-icon>

      <!-- Contenido multimedia -->
      <img *ngIf="multimedia.thetype === 'link'" src="assets/imgs/linkimg.png" style="user-select: none; -webkit-user-select: none; pointer-events: none;">
      <img *ngIf="multimedia.thetype === 'folder'" src="assets/imgs/CARPETABEST.png" style="user-select: none; -webkit-user-select: none; pointer-events: none;">
      <img *ngIf="multimedia.thetype === 'imagen'" [src]="multimedia.thevalue" style="user-select: none; -webkit-user-select: none; pointer-events: none;">
      <img *ngIf="multimedia.thetype === 'PDF'" src="assets/imgs/imagenPDFalargadaRosa.png" style="user-select: none; -webkit-user-select: none; pointer-events: none;">
      <div class="video-container" *ngIf="multimedia.thetype === 'video'" style="user-select: none; -webkit-user-select: none; pointer-events: none;">
        <video [src]="multimedia.thevalue" muted style="pointer-events: none;"></video>
        <div class="video-overlay"></div>
      </div>
    </div>

    <!-- Nombre debajo -->
    <p *ngIf="multimedia.thetype == 'folder'" class="media-caption">{{ multimedia?.name }}</p>
    <p *ngIf="multimedia.thetype != 'folder' && multimedia.thetype != 'link'" class="media-caption">{{ extractOriginalName(multimedia) }}</p>
    <p *ngIf="multimedia.thetype == 'link'" class="media-caption">{{ multimedia?.link_name }}</p>

    <p class="media-caption2">{{formatCreateDate(multimedia?.created_at) }}</p>

  </div>
   

    

      
      

      <!--<p *ngIf="multimedia.thetype === 'PDF'">{{ extractOriginalName(multimedia) }}</p>-->

    

    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>


  <ion-icon *ngIf="!seleccionando && permission==3" id="iconAddArchive" src="assets/icons/nuevo-proyecto.svg" (click)="abrirModalMenuFolder()" ></ion-icon><!--uploadMedia()  abrirModalMenuFolder()-->
  





  <ion-modal class="ion-text-center" id="example-modal" #modal [isOpen]="isModalOpen2" (willDismiss)="cerrar(modal)" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <p id="title-modal-profile">
        <span id="textoIzquierda">
          {{ 'Contenido de' | translate }} {{ folderName }}
        </span>
        <!--<a  id="textoDerecha">{{ 'Restablecer' | translate }}</a>-->
      </p>

      <ion-content class="wrapper">
        <ion-slides [options]="option" class="ion-margin-top" (ionSlideReachEnd)="onSlideEnd()">
          <ion-slide *ngFor="let multimedia of multimedias;">
            <ion-card class="modcard" style="">
              <img *ngIf="multimedia.thetype === 'folder'" class="modalImage" style="" src="assets/imgs/CARPETABEST.png" (click)="irAFolder(multimedia,modal)">
              <img *ngIf="multimedia.thetype === 'imagen'" class="modalImage" style="" [src]="multimedia?.thevalue" (click)="abrirModalMultimedia1(multimedia.thevalue, multimedia.thetype, multimedia.id)">
              <img style="max-height: 111% !important;" *ngIf="multimedia.thetype === 'PDF'" src="assets/imgs/imagenPDFHorizontal.png" (click)="abrirModalMultimedia(multimedia.thevalue, multimedia.thetype, multimedia.id,multimedia)">
              <video *ngIf="multimedia.thetype==='video'" id="videoTrailer" width="100%" height="100%" controls controlsList="nodownload">
                <source [src]="multimedia?.thevalue">Your browser does not support the video tag.
              </video>
            </ion-card>
          </ion-slide>
          
        </ion-slides>

          
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
<ion-footer *ngIf="seleccionando" class="footer-container">
  <div class="footer-content">
    <p>{{ totalSeleccionados === 0 
      ? ('Sin seleccionar' | translate) 
      : totalSeleccionados === 1 
        ? ('1 elemento seleccionado' | translate) 
        : totalSeleccionados + (' elementos seleccionados' | translate) }}</p>
    <ion-icon (click)="eliminarSeleccionados()" class="delete-icon" src="assets/icon/trash-alt.svg"></ion-icon>
  </div>
</ion-footer>
<app-insitu-loading *ngIf="isChargeLoading"></app-insitu-loading>
