<ion-header class="hide-header">
  <ion-select
  #selectRef
  interface="action-sheet"
  (ionCancel)="onSelectCancel()"
  placeholder="Selecciona una red"
  (ionChange)="onSelectChange($event)"
  
>
  <ion-select-option value=14>Website</ion-select-option>
  <ion-select-option value=1>Instagram</ion-select-option>
  <ion-select-option value=2>X (Twitter)</ion-select-option>
  <ion-select-option value=3>Facebook</ion-select-option>
  <ion-select-option value=4>Youtube</ion-select-option>
  <ion-select-option value=5>Vimeo</ion-select-option>
  <ion-select-option value=6>Soundcloud</ion-select-option>
  <ion-select-option value=7>LinkedIn</ion-select-option>
  <ion-select-option value=8>Pinterest</ion-select-option>
  <ion-select-option value=9>Tik Tok</ion-select-option>
  <ion-select-option value=11>Behance</ion-select-option>
  <ion-select-option value=12>Spotify</ion-select-option>
  <ion-select-option value=13>Dribbble</ion-select-option>
  
</ion-select>
</ion-header>


