.ios-style {
    padding-top: 75px !important;
  }
  
  .android-style {
    padding-top: 20px !important;
  }

  

  #header {
    display: flex;
    flex-direction: column; /* Ensures the second div is below the first */
    align-items: flex-start; /* Aligns items to the start of the container */
    padding: 10px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:20px;
    background-color: #E5E5E5; /* Adjust as necessary */

  }

 

  #iconLeft {
    height: 12px;
    width: 10px;
    margin-left: 19px;
    margin-right: 7px;
  }

  .header-title {
    font-family: 'Poppins Medium';
     text-transform: uppercase;
    color: #2E2D2E;
    font-size: 14px;
    margin: 0;
    text-align: center;
    flex-grow: 1;
    //margin-left: -35px;
    position:absolute;
    left: 0px;
    right: 0px;
  }

  .header-top {
    display: flex;
    align-items: center;
    width: 100%;
    
  }

ion-content {
    --background: url(../../../assets/imgs/BACKGROUND-MI-PERFIL.png) no-repeat center center / cover;
}
.users {
    height: 78px;
    border-radius: 43pt;
    background: #FFFFFF;
    box-shadow: 0 6px 8px #00000029;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .user-info {
        display: flex;
        flex-direction: column;
        margin-left: -37%;
        //para cuando exceda el tamaño
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 45vw;
        min-width: 45vw;
        

    }
    img {
        height: 90%;
        filter: grayscale(100%);
        margin-left: -18%;
    }
    .name {
        font-family: "Poppins Medium";
        font-size: 14px;
        color:#2A2A32;
        width: 100%; /* Adjust as necessary to keep texts separated */
        text-align:left;
        overflow: hidden; /* Oculta el texto que se desborda */
        white-space: nowrap; /* Evita que el texto se divida en varias líneas */
        text-overflow: ellipsis;
    }
    .rol {
        font-family: "Poppins Medium";
        font-size: 11px;
        color: #7A7B88;
    }
    .dotmenu {
        height: 35%;
        margin-right: -10%;
    }
}


.roundedImage {
  width: 65px; /* Adjust size as needed */
  height: 65px; /* Adjust size as needed */
  border-radius: 50%;
  object-fit: cover;
}