ion-header{
    height:95px;
    background:#F42EB2;
    display:flex;
    align-items: center !important;
}


#iconLogo{
    
    height: 60px;
    width: 60px;
    display:flex;
    margin:0 auto;
   
}


#pTitle{

    color:#2A2A32;
    font-family: 'LeagueSpartan Medium';
    width:100%;
    text-align: center;
    font-size:22pt;
}

#pDesc{

    color:#2A2A32;
    font-family: 'Poppins Regular';
    width:80%;
    margin:0 auto;
    text-align: center;
    margin-top: 57px;
    font-size: 15pt;
}

#input{
    
    border:1px solid #F42EB2;
    border-radius:25px;
    width:80%;
    margin:0 auto;
    margin-top:20px;
    text-align: center;
    --padding-top: 13px;
    --padding-bottom: 13px;
}

#buttonContinue{
    font-family: 'Poppins Medium';
    width:80%;
    margin-left:10%;
    margin-right:10%;
    margin-top:20px;
}