<ion-header class="mainheader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="/" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <img alt="" class="asistente-icono" src="assets/imgs/foto-perfil-usuario.png">
    <div class="asistente-header">
      <ion-title class="virtual-assist">Ana M.</ion-title>
      <p class="state">conectado</p>
    </div>
    <ion-buttons slot="end">
      <ion-button class="chatbutton" slot="icononly">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chat">
    <div class="chat-date">
      <ion-label>Hoy</ion-label>
    </div>
    <div class="chat-bubble">
      <ion-label>Hola, ¡buenos días!</ion-label>
    </div>
    <p class="hour">10:04</p>
    <div class="chat2">
      <div class="chat-bubble2">
        <ion-label>Hola, ¡buenos días!</ion-label>
      </div>
      <div class="chat-bubble2">
        <ion-label>¿Pudiste revisar los documentos que dejé en la carpeta?</ion-label>
      </div>
    </div>
    <p class="hour2">10:04</p>
    <div class="chat-bubble">
      <ion-label>Hola, buenos días!</ion-label>
    </div>
    <div class="chat-bubble">
      <ion-label>Voy a echarle un vistazo y te digo</ion-label>
    </div>
    <div class="chat-bubble">
      <ion-label>¡Voy a añadir las fotos!</ion-label>
    </div>
    <p class="hour">10:04</p>
  </div>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-label>
      <ion-icon name="camera-outline"></ion-icon>
    </ion-label>
    <ion-input placeholder="Escribe un mensaje…"></ion-input>
  </ion-item>
</ion-footer>