.ios-style {
    padding-top: 75px !important;
  }
  
  .android-style {
    padding-top: 20px !important;
  }

  #header {
    display: flex;
    flex-direction: column; /* Ensures the second div is below the first */
    align-items: flex-start; /* Aligns items to the start of the container */
    padding: 10px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:20px;
    background-color: #E5E5E5; /* Adjust as necessary */

  }

  #iconLeft {
    height: 12px;
    width: 10px;
    margin-left: 15px;
    margin-right: 10px;
  }

  .header-title {
    font-family: 'Poppins Medium';
    color: #2E2D2E;
     text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    text-align: center;
    width: 100%;
    margin-left: -27px;
  }

  .header-top {
    display: flex;
    align-items: center;
    width: 100%;
    
  }


ion-content{
  --overflow: hidden;
  --background: #FFFFFF;
    .contenido {
        width: 100%;
        justify-items: center;
        display: inline-grid;
    }
    .title{
        font-family: 'LeagueSpartan SemiBold';
        color:#2E2D2E;
        font-size: 23px;
        margin-top: 15%
    }
    .subtitle{
        font-family: 'Poppins Regular';
        color: #0A162E;
        font-size: 14px;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 0;
    }

    ion-button{
        text-transform: none;
        width: 100%;
    }
    form {
        width: 90%;
    }
    ion-item::part(native) {
        --border-radius: 50pt;
    }
}