<ion-header id="header" [ngClass]="{'android-style': isAndroid, 'ios-style': isIOS}">
  <div class="header-top">
    <ion-icon (click)="goBack()" id="iconLeft" src="assets/icons/arrowBack.svg"></ion-icon>
    <h5 class="header-title">{{ 'forgot-password.RECUPERAR CONTRASEÑA' | translate }}</h5>
  </div>
</ion-header>

<ion-content>
  <div class="contenido">
    <h2 class="title ion-text-center">{{ 'forgot-password.¿Has olvidado tu contraseña?' | translate }}</h2>
    <p class="subtitle ion-text-center">{{ 'forgot-password.Añade tu email y te enviaremos una nueva clave de acceso' | translate }}</p>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
      <ion-item>
        <ion-label>
          <ion-icon name="mail"></ion-icon>
        </ion-label>
        <ion-input formControlName="email" type="email" placeholder="{{ 'forgot-password.Email' | translate }}"></ion-input>
      </ion-item>
      <ion-button [disabled]="!form.valid" type="submit">{{ 'forgot-password.Enviar' | translate }}</ion-button>
    </form>
  </div>
</ion-content>
<app-insitu-loading *ngIf="isChargeLoading"></app-insitu-loading>
