<!--<app-loading [text]="'chats.Cargando chats...' | translate" [color]="'primary'" *ngIf="isLoading"></app-loading>-->
<ion-header (click)="onContentClick($event)" id="header" [ngClass]="{'android-style': isAndroid, 'ios-style': isIOS}">
  <div *ngIf="isInvited" class="overlay"></div>
  <div id="divSearchBar">

    <ion-searchbar enterkeyhint="search" (keydown)="onEnterPress($event)" (ionClear)="onSearchClear()"  mode="md" placeholder="{{ 'chats.Buscar' | translate }}" [(ngModel)]="filtroChat" ></ion-searchbar><!--(ngModelChange)="aplicarFiltro()"-->

  </div>
  <ion-segment [swipeGesture]="false" [(ngModel)]="selectedSegment" value="Trabajos" mode="md">
      
      <ion-segment-button (click)="showOptionPage(1)" value="Chats">
          <ion-label class="labelSegment">{{ 'Chat' | translate }}<span *ngIf="newIndChat" class="red-dot"></span></ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="showOptionPage(2)" value="Solicitudes">
          <ion-label class="labelSegment">{{ 'chats.Solicitudes' | translate }}<span *ngIf="newGroupChat" class="red-dot"></span></ion-label>
      </ion-segment-button>
      
  </ion-segment>
</ion-header>
<ion-content (click)="onContentClick($event)"><!--*ngIf="!isLoading"-->
  <div *ngIf="isInvited" class="overlay"></div>
  <div id="divChats" *ngIf="divOption==1" style="padding-right: 25px;
    padding-left: 7px;">

    <ion-item-sliding #slidingItem  style="background: #F42EB2; border-radius: 37pt; height: 75px; margin-top:20px; border: 0px solid transparent;" 
    *ngFor="let chat of filtChats"
    class="project-sliding"><!--margin-left: 20px;-->
    <ion-item   lines="none" detail="false" class="project-item" style="margin-top:0px;--padding-start:0; --inner-padding-start:0;
         --padding-end:0;   --inner-padding-end:0;
         background: transparent !important; border-radius: 37pt;">
   
    <app-chat-group style="width: 100%;"
    (click)="goToInteriorC(chat?.id,chat?.otherUser?.theuser?.name,chat?.ultimo_mensaje,chat?.avatar,chat?.otherUser?.theuser?.phone,chat?.otherUser?.theuser?.id)"
     [showOptions]="false"
     [icon]="chat?.avatar"
     [title]="chat?.otherUser?.theuser?.name"
     [subtitle]="chat?.descripcion"
     [lastMessage]="chat?.ultimo_mensaje"
     [newMessages]="chat?.mensajes_nuevos"
     [slidingOptionsSide]="'end'"
     [slidingOptionsColor]="'primary'"
     [slidingOptionsIcon]="'trash'"
   >
   </app-chat-group>


    </ion-item>


   

    <!-- Swipe derecha: Eliminar -->
    <ion-item-options  style="height: 73px;     border: 4px solid transparent;" side="end" (ionSwipe)="FullSwipeDelete(chat, slidingItem)"><!--(ionSwipe)="onProject"-->
      <ion-item-option expandable style="background:#F42EB2; color:#fff;" (click)="delete(chat, slidingItem)"><!---->
        <ion-icon src="assets/icon/trash-alt.svg" style="width:22px;height:22px;margin-right:6px;"></ion-icon>
        {{ 'Eliminar' | translate }}
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  </div>

  <div id="divChats" *ngIf="divOption==2">
    <div id="divChat" *ngFor="let cr of filtChatRequests">
      <!-- Imagen del chat -->
      <div (click)="cr?.user_id !== user?.id && abrirModal(cr?.message,cr?.requestinguser?.name)" class="avatar">
        <img [src]="cr?.requestinguser?.avatar" alt="Chat Icon">
      </div>
    
      <!-- Titulo y subtitulo -->
      <ion-label class="content">
        <h2  (click)="cr?.user_id !== user?.id && abrirModal(cr?.message,cr?.requestinguser?.name)" class="title">{{cr?.requestinguser?.name}} {{cr?.requestinguser?.surname1}} </h2><!--{{cr?.requestinguser?.representativeName}}-->
        <p id="pSubtitle" class="subtitle">{{cr?.message}}</p>
        <div class="subtitle" *ngIf="cr?.user_id != user?.id">
          <ion-button id="buttonAceptar" class="buttons" (click)="acceptUserRequests(cr?.id)">{{ 'chats.Aceptar' | translate }}</ion-button>
          <ion-button (click)="deleteUserRequests(cr?.id)" class="buttons">{{ 'chats.Rechazar' | translate }}</ion-button>
        </div>
        <div class="subtitle" *ngIf="cr?.user_id == user?.id">

          <p class="waiting-list">{{ 'chats.Espera' | translate }}</p>
        </div>
        
      </ion-label>
    
      <!-- Último mensaje y mensajes por ver -->
      <ion-label class="right" (click)="cr?.user_id !== user?.id && abrirModal(cr?.message,cr?.requestinguser?.name)">
        <p class="hora">{{cr?.requestinguser?.created_at | date: 'dd/MM/yyyy'}}</p>
      </ion-label>
    </div>
  </div>

 <!-- <ion-icon *ngIf="divOption==1" id="iconAddProject" src="assets/icons/nuevo-proyecto.svg" routerLink="/new-project"></ion-icon>-->
  
</ion-content>
<app-insitu-loading *ngIf="isChargeLoading"></app-insitu-loading>

