.ios-style{
    padding-top:75px !important;
  }
  
  .android-style{
    padding-top: 10px !important;
  }

  #header {
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 19px;
    background-color: #E5E5E5; /* Ajusta según sea necesario */
  }

 /* #iconLeft {
    height: 15px;
    width: 13px;
  }*/

#iconRight {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  padding: 3px;
  }

  

  #iconLeft {
    height: 12px;
    width: 10px;
    //margin-left: 15px;
    margin-right: 10px;
  }

  .header-title {
    font-family: 'Poppins Medium';
     text-transform: uppercase;
    color: #2E2D2E;
    font-size: 14px;
    margin: 0;
    text-align: center;
    flex-grow: 1;
    position: absolute;
    left: 0px;
    right: 0px;
  }




  #iconAdd{
    position: fixed;
    bottom: 6pt;
    right: 6pt;
    width: 83px;
    height: 83px;
  }