<ion-header id="header" [ngClass]="{'android-style': isAndroid, 'ios-style': isIOS}">
  <div [ngClass]="{'hiddenTitle': !show, 'visibleTitle': show}" class="header-top">
    <ion-icon (click)="goBack()" id="iconLeft" src="assets/icons/arrowBack.svg"></ion-icon>
    <h5 (click)="goBack()" class="header-title">{{ 'finish-profile.COMPLETAR PERFIL' | translate }}</h5>
  </div>
</ion-header>
<ion-content (click)="handleGlobalClick($event)">
  <div class="contenido">
    <p id="pTitleImg" class="placeholder-asterisk">{{ 'finish-profile.Imagen' | translate }}*</p>
    <div style="position:relative;" class="avatar">
      <ion-avatar (click)="openAllImageCropper(false)">
        <img id="imgAvatar" alt="" [src]="user?.avatar" />
      </ion-avatar>
      <ion-fab>
        <ion-fab-button (click)="adjuntarImagen()">
          <ion-icon name="camera-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
    
    <form [formGroup]="form" (ngSubmit)="submitForm()">

      <div *ngIf="show" class="checkbox">
        <div class="check">
          <ion-checkbox formControlName="hide_my_user"></ion-checkbox>
        </div>
        <div class="label">
          <ion-label>
            {{ 'finish-profile.No mostrar mi perfil en el buscador' | translate }}
          </ion-label>
        </div>
      </div>

     <!-- <p class="placeholder-asterisk" style="color:#F42EB2">{{ 'finish-profile.Nombre' | translate }}*</p>-->
      <p *ngIf="typeUser=='Personal'" class="placeholder-asterisk" >{{ 'finish-profile.Nombre' | translate }}*</p>
      <p *ngIf="typeUser!='Personal'" class="placeholder-asterisk" >{{ 'Nombre de Compañía' | translate }}*</p>
      <ion-item>
        <ion-label>
          <ion-icon [src]="ruta"></ion-icon>
        </ion-label>
        <ion-input (ionFocus)="setKeyboardVisibleManually()" autocapitalize="words" class="placeholder-asterisk" formControlName="name" [placeholder]="placeholderName"></ion-input>
      </ion-item>
      <div *ngIf="form.get('name')?.invalid && submitted" class="error-message">
        <small *ngIf="form.get('name')?.errors?.['required']">{{ 'finish-profile.El nombre es obligatorio' | translate }}</small>
        <small *ngIf="form.get('name')?.errors?.['minlength']">{{ 'finish-profile.El nombre debe tener al menos 3 caracteres' | translate }}</small>
      </div>
      <div *ngIf="typeUser=='Personal'" class="apellidos-container">
        <p class="half-width">{{ 'finish-profile.Apellido 1' | translate }}*</p>
        <p class="half-width">{{ 'finish-profile.Apellido 2' | translate }}</p>
      </div>
      <div *ngIf="typeUser=='Personal'" class="apellidos">
        <ion-item>
          <ion-label>
            <ion-icon src="assets/icon/user-rosa.svg"></ion-icon>
          </ion-label>
          <ion-input (ionFocus)="setKeyboardVisibleManually()" autocapitalize="words" class="placeholder-asterisk" formControlName="surname1" type="text" placeholder="{{ 'finish-profile.Apellido 1' | translate }}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon src="assets/icon/user-rosa.svg"></ion-icon>
          </ion-label>
          <ion-input (ionFocus)="setKeyboardVisibleManually()" autocapitalize="words" formControlName="surname2" type="text" placeholder="{{ 'finish-profile.Apellido 2' | translate }}"></ion-input>
        </ion-item>
      </div>
      <p *ngIf="typeUser=='Empresa'">{{ 'finish-profile.Nombre de representante' | translate }}*</p>
      <div *ngIf="typeUser=='Empresa'" class="apellidos">
        <ion-item id="itemEmp">
          <ion-label>
            <ion-icon class="iconInputs" src="assets/icon/user-1.svg"></ion-icon>
          </ion-label>
          <ion-input (ionFocus)="setKeyboardVisibleManually()" autocapitalize="words" class="placeholder-asterisk" formControlName="representativeName" type="text" placeholder="{{ 'finish-profile.Nombre de representante' | translate }}*"></ion-input>
        </ion-item>
      </div>
      <div *ngIf="typeUser=='Personal' && this.isSurname1Valid && submitted" class="error-message">
        <small >{{ 'finish-profile.El apellido 1 es obligatorio' | translate }}</small>
      </div>
      <div *ngIf="typeUser=='Empresa' && this.isRepresentativeNameValid && submitted" class="error-message">
        <small >{{ 'finish-profile.El nombre del representante es obligatorio' | translate }}</small>
      </div>
      <!--<p>{{ 'finish-profile.Fecha de nacimiento' | translate }}*</p>-->
      <p *ngIf="typeUser!='Empresa'">{{ 'finish-profile.Fecha de nacimiento' | translate }}*</p>
      <p *ngIf="typeUser=='Empresa'">{{ 'Fecha de nacimiento de representante' | translate }}*</p>
      <p class="p2">{{ 'finish-profile.Este detalle no se mostrará de forma pública' | translate }}</p>
      <ion-item>
        <ion-label>
          <ion-icon src="assets/icon/birthday-cake.svg"></ion-icon>
        </ion-label>
        <ion-input formControlName="birthdate" type="date" placeholder="17/04/1992"></ion-input>
      </ion-item>
      <div *ngIf="form.get('birthdate')?.invalid && submitted" class="error-message">
        <small >{{ 'finish-profile.Introduzca una fecha válida' | translate }}</small>
      </div>

      <p class="placeholder-asterisk">{{ 'select-chatoptions-modal.Pronombres' | translate }}*</p>
      <ion-item>
        <ion-label style="width: 30px;max-width: 18px; min-width: 18px; display: flex; justify-content: center; align-items: center;">
          <ion-icon style="width: 15px; height: 15px;" src="assets/icons/circle.svg"></ion-icon>
        </ion-label>
        <ion-select (ionChange)="onGenderChange($event)" formControlName="gender" placeholder="{{ 'finish-profile.Seleccione una opción' | translate }}" style="flex-grow: 1; margin-left: -10px; max-width: 100%;"><!--margin-left: -20px ios margin-left: -10px android-->
         
          <ion-select-option value="1">{{ 'finish-profile.Él' | translate }}</ion-select-option>
          <ion-select-option value="2">{{ 'finish-profile.Ella' | translate }}</ion-select-option>
          <ion-select-option value="3">{{ 'finish-profile.Elle' | translate }}</ion-select-option>
          <ion-select-option value="4">{{ 'finish-profile.Añade tus pronombres' | translate }}</ion-select-option>
        </ion-select>
      </ion-item>

      <p *ngIf="form.get('gender').value == 4">{{ 'finish-profile.Introduzca el pronombre con el que se identifique' | translate }}</p>
      <ion-item *ngIf="form.get('gender').value == 4">
        <ion-label>
          <ion-icon style="width: 19px; height: 19px;" src="assets/icons/simbolos-generos.svg"></ion-icon>
        </ion-label>
        <ion-input (ionFocus)="setKeyboardVisibleManually()" formControlName="pronInputValue" placeholder="{{ 'finish-profile.Escribe aquí…' | translate }}"></ion-input>
        <ion-icon (click)="createPron()" id="iconAddProns" src="assets/icons/add-tag-2.svg"></ion-icon>
      </ion-item>
      
      <div *ngIf="form.get('gender').value == 4" class="cloudtags">
        <ion-chip *ngFor="let pron of prons" (click)="deletePron(pron)" class="tagged">
          <label>{{pron}}</label> 
          <ion-icon name="trash-outline"></ion-icon>
        </ion-chip>
      </div>
      <div *ngIf="form.errors?.['genderRequired'] && submitted" class="error-message">
        <small>{{ 'finish-profile.Debes seleccionar un género' | translate }}</small>
      </div>
      <div *ngIf="form.errors?.['pronRequired'] && submitted" class="error-message">
        <small>{{ 'finish-profile.Si seleccionas Añade tus pronombres, debes introducir al menos un pronombre' | translate }}</small>
      </div>

      <p class="placeholder-asterisk">{{ 'finish-profile.Profesión' | translate }}*</p><!--*ngIf="show"-->
      <ion-item ><!--*ngIf="show"-->
        <ion-label>
          <ion-icon src="assets/icon/profesion.svg"></ion-icon>
        </ion-label>
        <ion-input (ionFocus)="setKeyboardVisibleManually()" formControlName="proffesion" placeholder="{{ 'finish-profile.Escribe aquí' | translate }}"></ion-input>
      </ion-item>
      <div *ngIf="form.get('proffesion')?.invalid && submitted" class="error-message">
        <small *ngIf="form.get('proffesion')?.errors?.['required']">{{ 'finish-profile.La profesión es obligatoria' | translate }}</small>
      </div>



      <p class="placeholder-asterisk">{{ 'locations.Tu ubicación' | translate }}*</p><!--*ngIf="show"-->
      <ion-item ><!--*ngIf="show"-->
        <ion-label style="max-width: 16px !important; margin-right: 0px !important;">
          <ion-icon src="assets/icon/pin.svg"></ion-icon>
        </ion-label>
        <input (focus)="setKeyboardVisibleManually()" style="background-color:white; border:0px; margin-left:1px !important" id="searchTextField" formControlName="actual" type="text" placeholder="{{ 'locations.Buscar dirección' | translate }}" (input)="onInputLocation($event)">
       <!-- <ion-input formControlName="proffesion" placeholder="{{ 'finish-profile.Escribe aquí' | translate }}"></ion-input>-->
      </ion-item>
      <div *ngIf="form.get('actual')?.invalid && submitted" class="error-message">
        <small *ngIf="form.get('actual')?.errors?.['required']">{{ 'finish-profile.La ubicación es obligatoria' | translate }}</small>
      </div>




      <p >{{ 'finish-profile.Categoría de trabajo' | translate }}*</p><!--*ngIf="show"-->
      <div  class="cloudtags" ><!--*ngIf="show"-->
        <ion-chip *ngFor="let chip of chips; let i = index" [class.selected]="chip.selected" [outline]="!chip.selected" (click)="toggleSelection(i)">
          <label>{{ chip.showLabel }}</label>
        </ion-chip>
      </div>
      <div style="margin-top:10px;" *ngIf="form.get('categoryIds')?.invalid && submitted" class="error-message">
        <small *ngIf="form.get('categoryIds')?.errors?.['categoryIdsEmpty']">
          {{ 'finish-profile.Seleccione al menos una categoría' | translate }}
        </small>
      </div>
      <p *ngIf="show">{{ 'finish-profile.Salario' | translate }}</p>
      <p *ngIf="show" class="p2">{{ 'finish-profile.Selecciona un rango de salario' | translate }}</p>
      <ion-range *ngIf="show" formControlName="price" [value]="rangeValue" min="100" max="2001" (ionChange)="onIonChange($event)"></ion-range>
      <p *ngIf="show && rangeValue <= 2000">{{ 'finish-profile.Precio seleccionado:' | translate }} <b>{{ rangeValue }} €/{{ 'finish-profile.día' | translate }}</b></p>
      <p *ngIf="show && rangeValue > 2000">{{ 'finish-profile.Precio seleccionado:' | translate }} <b>> 2000 €/{{ 'finish-profile.día' | translate }}</b></p>
      <p *ngIf="show" style="display: flex; align-items: center;">{{ 'finish-profile.Se mostrará como:' | translate }} <b><span style="margin-left:5px;" id="spanEur">€</span><span *ngIf="rangeValue>=400" id="spanEur">€</span><span *ngIf="rangeValue>=800" id="spanEur">€</span><span *ngIf="rangeValue>1500" id="spanEur">€</span></b> <ion-icon (click)="abrirModalInfo()" id="iconInfo"  src="assets/icon/interrogacion.svg"></ion-icon></p>
      <p *ngIf="show">{{ 'finish-profile.Tags' | translate }}</p>
      <p *ngIf="show" class="p2">{{ 'finish-profile.Escribe las palabras clave para describir tu empleo' | translate }}</p>
      
      
      <ion-item *ngIf="show">
        <ion-label>
          <ion-icon src="assets/icon/tag-alt.svg"></ion-icon>
        </ion-label>
        <ion-input (ionFocus)="setKeyboardVisibleManually()" #tagInputRef (keydown)="onEnterPress($event);" formControlName="tagInputValue" placeholder="{{ 'finish-profile.Escribe aquí…' | translate }}"></ion-input>
        <ion-icon (click)="handleTagCreation()" id="iconAddTags" src="assets/icons/add-tag-2.svg"></ion-icon>
      </ion-item>
      <div *ngIf="show" class="cloudtags">
        <ion-chip *ngFor="let tag of tags" (click)="deleteTag(tag)" class="tagged"><label>{{tag}}</label> <ion-icon name="trash-outline"></ion-icon> </ion-chip>
      </div>
      <p *ngIf="show">{{ 'finish-profile.Descripción' | translate }}</p>
      <ion-item *ngIf="show">
        <ion-label>
          <ion-icon src="assets/icon/comment-alt-message.svg"></ion-icon>
        </ion-label>
        <ion-textarea (ionFocus)="setKeyboardVisibleManually()" formControlName="description" placeholder="{{ 'finish-profile.Escribe aquí' | translate }}" [autoGrow]="true"></ion-textarea>
      </ion-item>
    </form>
  </div>
</ion-content>
<ion-footer *ngIf="!keyboardVisible">
  <ion-button (click)="validateAndSubmit()" >{{ 'finish-profile.Guardar cambios' | translate }}</ion-button>
</ion-footer>
<app-insitu-loading *ngIf="isChargeLoading"></app-insitu-loading>
