#pTitle{

    color: white;
    font-family: 'Poppins SemiBold';
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 13px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 12pt;
    background-color: #ED07AC;
}

#pDesc{

    color:#2A2A32;
    font-family: 'Poppins Regular';
    width:100%;
    margin:0 auto;
    margin-bottom: 6px;
   
    text-align: center;
    font-size: 12pt;
}
