.ios-style {
    padding-top: 75px !important;
  }
  
  .android-style {
    padding-top: 20px !important;
  }

  #header {
    display: flex;
    flex-direction: column; /* Ensures the second div is below the first */
    align-items: flex-start; /* Aligns items to the start of the container */
    padding: 10px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:20px;
    background-color: #E5E5E5; /* Adjust as necessary */

  }

  #iconLeft {
    height: 12px;
    width: 10px;
    margin-left: 15px;
    margin-right: 10px;
  }

  .header-title {
   // font-family: 'Poppins Medium';
    color: #2E2D2E;
    font-family: 'Poppins SemiBold';
    margin: 0;
     text-transform: uppercase;
    


    position: absolute;
    left: 0px;
    right: 0px;
    font-size: 14px;
    flex-grow: 1;
    text-align: center;
  }


  .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribuye los elementos */
    width: 100%; /* Asegura que ocupe el 100% del ancho del contenedor */
    
  }


  ion-content {
    --background: red; 
    --padding-start: 15px;
    --padding-end: 15px;
    --background: none;
    background: url(../../../assets/imgs/BACKGROUND-CHAT.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#container {
    width: 100%;
    height: 222px;
    position: relative;
    //border: 1px solid #000; /* Adjust border color as needed */
    border-radius: 10px; /* Adjust border radius as needed */
    overflow: hidden; /* Ensure the image does not overflow the div */
    margin-top: 13px;
  }

  #container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire div */
  }

  #text-overlay {
    position: absolute;
    top: 13px;
    left: 0px;
    color: white;
    background-color: #F42EB2; /* Semi-transparent background for text */
    //width:260px;
    padding: 25px;
    padding-right: 31px;
    border-radius: 5px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .info {
    display: flex;
    //justify-content: space-between;
    align-items: center;

    
  }

  .info p {
    margin: 0;
    font-size: 12px;
    min-width:152px;
    font-family: 'Poppins SemiBold';
    white-space: nowrap;
    //overflow: hidden;
    //text-overflow: ellipsis;
  }

  .info .avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
  }

  .info .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }


  

  #divDate {
    background-color: white;
    color: #62646E;
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alínea los elementos entre los extremos */
    border-radius: 10px;
    padding: 5px 15px;
    width: 100%; /* Asegura que el div ocupe todo el espacio disponible */
}

#dateIcon {
    margin-right: 5px;
    width: 12px;
    color: #62646E;
    margin-top:-5px;
}

#labelDate {
    font-family: 'Poppins Regular';
    font-size: 13px;
    color: #62646E;
    margin-right: auto; /* Empuja la etiqueta hacia la izquierda */
    flex-grow: 1; /* Asegura que ocupe todo el espacio disponible */
}

#pDate {
    font-family: 'Poppins Medium';
    font-size: 13px;
    color: #25252C;
    margin-left: 10px;
    text-align: right; /* Asegura que el texto de la fecha se alinee a la derecha */
}



    #divContainMembers{
        background-color: white;
        margin-top: 18px;
        border-radius: 10px;
    }


  #divMembers {
   // position: absolute;
    //top: 153px;
    left: 0px;
    margin-bottom: -7px;
    margin-left: 10px;
    display: flex;
    align-items: center;
   
  }


  #memberIcon{
    margin-top: -13px;
    margin-right: 5px; /* Space between icon and text */
    width: 14px;
  }

  #pMember{
    font-family: 'Poppins Medium';
    margin-top:0px;
    padding-top:6px;
    color:#62646E;
    font-size: 13px;
  }

  #divMemberImgs {
   // position: absolute;
    //top: 173px;
    left: 0px;
    color: white;
    margin-left: 24px;
    display: flex;
    align-items: center;
    gap: 10px; /* Space between images */
    padding: 10px; /* Optional padding around the div */
    padding-top: 0px;
  }


  .imgMembers{
    border-radius: 50%;
    width: 35px !important;
    height: 35px !important;
    object-fit: cover !important;
    margin-right: 0px;

  }


  .iconNextRed{

    width:15px !important; 
    height:15px !important;
    background-color: #F42EB2;
    border-radius:25px !important;
    padding:10px;
    margin-left: auto;
  }

//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>




#divContainerRating{
    margin-top: 18px;
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 10px;
      background-color: white;
      border-radius: 15px;
      padding: 10px;
      box-shadow: 0 0px 14px rgba(0, 0, 0, 0.1);
  
  }
  
  #rating {
    margin-top:0px;
       padding-top:0px;
        margin-bottom: 0px;
        //height: 200px;
        //border-radius: 15px;
       // background-color: white;
        display: flex;
      }
  
      #left {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: flex-start; /* Align items to the top */
        padding-top: 10px; /* Add padding if needed */
      }
  
      #image {
        width: 100%; /* Adjust as necessary */
        height: auto;
        border-radius: 50%; /* Round image */
      }
  
      #right {
        width: 80%;
        display: flex;
        flex-direction: column;
        //justify-content: space-between;
        padding: 10px; /* Adjust as necessary */
      }
  
      #top-texts {
        display: flex;
        justify-content: space-between;
      }
  
      #text1 {
        font-family: 'Poppins Medium';
        color:#2A2A32;
        margin: 0;
        width: 68%; /* Adjust as necessary to keep texts separated */
        text-align:left;
        overflow: hidden; /* Oculta el texto que se desborda */
        white-space: nowrap; /* Evita que el texto se divida en varias líneas */
        text-overflow: ellipsis;
      }
  
      #text2 {
        font-family: Poppins Regular;
   
        margin: 0;
        width: 77px;
        font-size: 8pt;
        text-align: right;
        height: 22px;
        color: white;
        --background: #F42EB2;
        overflow: hidden; /* Oculta el texto que se desborda */
        white-space: nowrap; /* Evita que el texto se divida en varias líneas */
        text-overflow: ellipsis;
      }
  
      #iconHeart{
        margin: 0;
        margin-right: -7px;
        height: 28px;
        width: 25px;
  
      }
  
      #text3{
  
        font-family: 'Poppins Medium';
        color:#2A2A32;
        margin: 0;
        margin-top: -1px;
        margin-bottom: 2px;
        font-size: 8pt;
        color:#7A7B88;
        text-align:left;
        overflow: hidden; /* Oculta el texto que se desborda */
        white-space: nowrap; /* Evita que el texto se divida en varias líneas */
        text-overflow: ellipsis;
      }
  
      #bottom-text {
        margin: 0;
      }
  
  
      #iconValue{
  
        margin-right:0px;
        width:16px;
        height:14px;
      }
  
      #txtVal{
        font-size: 9px;
        color:#7A7B88;
        font-family: 'Poppins Regular';
        margin-left:5px;
      }
  
      #pDescript{
        color:#2A2A32;
        font-family: 'Poppins Regular';
        margin-bottom:1px;
        padding-bottom:1px;
        margin-top: 8px;
        font-size: 11px;
        text-align: left;
        display: -webkit-box; /* Enables flex display for webkit */
        -webkit-line-clamp: 3; /* Limits to 3 lines */
        -webkit-box-orient: vertical; /* Sets the orientation to vertical */
        overflow: hidden; /* Hides the overflowing text */
        text-overflow: ellipsis; /* Adds ellipsis (...) to the text */
      }
  
  
  
      #iconTextContainer {
        display: flex;
        align-items: center; /* Vertically centers items */
        margin-top: 3px;
        margin-bottom: 0px;
      }
      
      #infoIcon {
        margin-right: 2px; /* Space between icon and text */
        /* Remove or adjust margin-top if needed to ensure vertical centering */
        margin-top: 0;
      }
      
      #infoText {
        font-family: 'Poppins Regular';
        font-size: 12px;
        color: #2a2a32;
       // padding: 1px 0 0;
        margin-top: 2px;
       
        text-align: left;
        margin-bottom:3px;
        overflow: hidden; /* Oculta el texto que se desborda */
        white-space: nowrap; /* Evita que el texto se divida en varias líneas */
        text-overflow: ellipsis;
      }
      
    
      #pReport {
        font-family: 'Poppins Medium';
        color: #f42eb2;
        margin-top: 6px;
        padding-top: 0;
        margin-bottom: 2px;
        font-size: 11px;
        text-align: left;
      }
    
    
    
    
    
    
      
  
      #pReport{
        font-family: Poppins Medium;
        color: #7A7B88;
        margin-top: 6px;
        padding-top: 0;
        margin-bottom: 2px;
        font-size: 11px;
      }


      #infoTitleIcon{
        margin-top: 1px;
        margin-right: 6px;
        color: #62646E;
        width: 9px;
      }



      .overlay {
        position: fixed; /* Fija la posición en la pantalla */
        top: 0;
        left: 0;
        width: 100vw; /* Ocupa todo el ancho de la pantalla */
        height: 100vh; /* Ocupa todo el alto de la pantalla */
        background-color: rgba(0, 0, 0, 0.5); /* Color de fondo gris con transparencia */
        z-index: 99999999999; /* Asegura que esté por encima de otros elementos */
        pointer-events: auto; /* Bloquea la interacción con elementos detrás */ /* Permite bloquear la interacción con elementos detrás */
      }

  @media (min-width: 768px) {
    #left {
      width: 10%;
    }
  }