<ion-header no-border="no-border" >
  <div style="display: flex; align-items: center; justify-content: space-between; padding: 10px 15px;">
    <ion-buttons slot="start">
      <!-- Icono de retroceso -->
      <ion-icon src="assets/icons/arrowBack.svg" (click)="goBack()" style="margin-left: 0;margin-right: 13px;"></ion-icon>
      
      <!-- Avatar del chat -->
      <ion-avatar style="margin-left: 8px;">
        <img src="{{imgAvatar}}">
      </ion-avatar>
    </ion-buttons>

    <ion-title >
      <p class="chatName">{{ chatName }}</p>
     <!-- Último mensaje {{ lastMessage | date:'h:mm a' }}-->
    </ion-title>

    <ion-icon id="iconRight" (click)="abrirModalOpcionesUsuario()" src="assets/icons/ajustes.svg"></ion-icon>

    <!--<ion-buttons slot="end">
     
      <ion-icon src="assets/icons/ajustes-chat.svg" style="width: 34px; height: 34px;"></ion-icon>
    </ion-buttons>-->
  </div>
</ion-header>