{
  "privacyManifestVersion": 1,
  "thirdPartySdk": {
    "name": "Capacitor",
    "identifier": "com.ionicframework.capacitor",
    "purposeStringKeys": [
      "NSCameraUsageDescription",
      "NSPhotoLibraryUsageDescription",
      "NSLocationWhenInUseUsageDescription",
      "NSMicrophoneUsageDescription",
      "NSBluetoothPeripheralUsageDescription"
    ]
  }
}
